body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#main-title {
    color: #ff3b3f;
}

.round-images {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.work-experience {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.personal-projects {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}